html {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.banner{
  background: url(34356027583_f4a245c053_b.jpg);
   background-repeat: no-repeat;
    background-size: contain;
height:70%;
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
    margin-top: -17px;
    padding: 10px;
}

.inner-banner{
  text-align:center;
  position: absolute;
  width:100%;
  height: 200px;  
  color: white;
  height:auto;
  margin-top: 200px;
}
  
h1{
  font-size 7em;
  font-family: "Hind Siliguri", sans-serif;
}

h2{
  margin-top: -17px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-weight:20;
}  
/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 30px;
}

  
