html {
    box-sizing: border-box;
}

body {
  height:100%; 
  min-height: 100$
  margin:0;  
}

/* Style the top navigation bar */
.topnav {
    background-color: #333;
   overflow: hidden;
    padding: 10px; 
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.banner{
  background-image: url(10_cupofcoffee.png);
  background-repeat: no repeat;   
  background-size: contain;	
    width: 96%;
    position: fixed;
    top: 100px;
    bottom: 100px;
    overflow: auto;
  }

.inner-banner{
text-align: -webkit-center;
  position: absolute;
  width:100%;
  color: black;
  height:auto;
  margin-top: 200px;
}
  
h1{
  font-size: 1.7em;
  font-family: "Hind Siliguri", sans-serif;
}

h2{
  margin-top: -17px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-weight:20;
padding-top: 50px;
}  
/* Style the footer */
footer {
  width: 100%;
   bottom: 0;
   position: fixed;
   clear: both; 
    
}

@media only screen and (max-width: 920px){
    .banner{
      margin-top: 100px;
    }
  }
    @media only screen and (max-width: 540px){
    .inner-banner{
      margin-top: 150px;
      }
      h1{
        font-size: 53m;
      }
      h2{
        font-size: 1.4em;
      }
  }
  
.banner-about {
    background-image: url(34356027583_f4a245c053_b.jpg);
	background-size: contain;    
	width: 100%;
	height: 300px;
	position: fixed;
	top: 100px;
	
}

.coffee-article {
	width: 100%;
	position: relative;
	top: 400px;
	height: 1500px; 
}

.coffee-header {
	text-align: left;
	font-size:1.7em;
	}
